/* Configuración básica */
body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #0A3871; /* Color de fondo del pie de página */
    color: white; /* Color del texto */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #ffffff; /* Color de los enlaces */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline; /* Efecto al pasar el ratón sobre el enlace */
}

.logo {
    margin: 20px;
    width: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
}

/* Sección de entrada */
.input-section {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.text-area {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 8px;
    padding: 20px;
    font-size: 18px;
    color: #0A3871;
    resize: none;
}

.text-area::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.info {
    margin-top: 10px;
    color: #495057;
    font-size: 14px;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btnEncriptar, .btnDesencriptar, .btnVaciar {
    width: 48%;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.btnEncriptar {
    background-color: #0A3871;
    color: white;
}

.btnDesencriptar {
    background-color: #DBDFE8;
    color: #0A3871;
}

.btnVaciar {
    background-color: #DBDFE8;
    color: #0A3871;
}

/* Sección de salida */
.output-section {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
}

.no-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-message img {
    width: 150px;
    margin-bottom: 20px;
}

.no-message p {
    font-size: 18px;
    font-weight: bold;
    color: #0A3871;
}

.no-message span {
    font-size: 14px;
    color: #495057;
    margin-top: 10px;
}


/* Estilos para el botón de copiar en la lista */
.copiar-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

.copiar-btn img {
    width: 20px;
    height: 20px;
    filter: invert(60%) sepia(8%) saturate(457%) hue-rotate(168deg) brightness(87%) contrast(85%);
}

.copiar-btn:hover img {
    filter: invert(36%) sepia(95%) saturate(3438%) hue-rotate(190deg) brightness(95%) contrast(96%);
}
